<!--
Copyright (c) 2017 Intel Corporation
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
  <arg name="namespace"                 default="opencl_caffe" />
  <arg name="manager"                   default="standalone_nodelet" />
  <group ns="$(arg namespace)">
    <include file="$(find opencl_caffe_launch)/launch/includes/manager.launch">
      <arg name="name"                  value="standalone_nodelet" />
      <arg name="num_worker_threads"    value="8" />
    </include>
    <include file="$(find opencl_caffe_launch)/launch/includes/nodelet.launch">
      <arg name="name"                  value="opencl_caffe_nodelet" />
      <arg name="manager"               value="standalone_nodelet" />
    </include>
  </group>
</launch>
